
<table>
    <tr>
      <td>
          <div>
        <img src="https://cdn.jsdelivr.net/gh/Je-Ho/AG-Grid-Angular-AloA@master/src/app/images/Bildschirmfoto%202021-08-10%20um%2012.32.47.png" width = "190" height = "60"/>
    </div>
</td>
    </tr>
    <tr>
      <td>
          
      </td>
      <td>
        <ag-grid-angular style="width: 1400px; height: 1000px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
      </td>
    </tr>
  </table> 
